.contact-me:hover {
    background-color: #15622c;
    color: white;
    transition: all 0.5s ease-in-out;
}

.contact_me:hover {
    background-color: #15622c !important;
    color: white;
    transition: all 0.5s ease-in-out;
}
.hello {
    -webkit-text-fill-color: transparent;
    background: var(--color-special-color);
    -webkit-background-clip: text;
    color: var(--white);
    font-size: 17px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
